{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails
{% endblock %}

{% block body %}
    <div class="gen-div-format" id="outing-details">
        <h1>Détails d'une sortie</h1>
        <h2>{{ outing.name }}</h2>
        <div>Organisateur : <a
                href="{{ path('user_profile', {'id': outing.organiser.id}) }}">{{ outing.organiser.username }}</a></div>
        <div><img src="{{ asset('images/Outings/' ~ outing.photo) }}"></div>
        <div>Date et heure : {{ outing.startDateTime | date('d/m/Y H:i') }}</div>
        <div>Date limite d'inscription : {{ outing.signupDateLimit | date('d/m/Y H:i') }}</div>
        <div>Nombre de places : {{ outing.nbSignupsMax }}</div>
        <div>Durée : {{ outing.duration }}</div>
        <div>Description et infos : {{ outing.outingInfo }}</div>
        <div>Campus : {{ outing.campus }}</div>
        <div>Lieu : {{ outing.location }}</div>
        {% if outing.status.label !== "Annulée" %}
            <div>Statut : {{ outing.status }}</div>
        {% endif %}

        {% include 'views/buttons/action.html.twig' %}
        <div>
{#        {% if is_granted('OUTING_CANCEL', outing) %}#}
{#                <a href="{{ path('outing_cancel', {'id' : outing.id}) }}">#}
{#                    <button style="background-color: #5B21B6">Annuler</button>#}
{#                </a>#}
{#                {% if outing.status == "En création" %}#}
{#                    <a href="{{ path('outing_create', {'id': outing.id}) }}" onclick="return confirm('Es-tu sur de vouloir modifier cette sortie ?')"><button>Modifier</button></a>#}
{#                {% endif %}#}
{#            {% endif %}#}

            {% if is_granted('OUTING_QUIT', outing) %}
                <div class="button-space">
                    <span class="goodNews">Vous êtes inscrit à cette sortie !</span>
                    <a href="{{ path('outing_quit', {'id': outing.id}) }}"
                       onclick="return confirm('Veux-tu vraiment annuler ta participation à cette sortie ?')">
                        <button>Se désister</button>
                    </a>
                </div>
            {% elseif is_granted('OUTING_PARTICIPATE', outing) %}
                <a href="{{ path('outing_participate', {'id':outing.id}) }}"
                   onclick="return confirm('Participer à cette sortie ?')">
                    <button>Participer</button>
                </a>
            {% endif %}
            {% if is_granted('OUTING_EDIT', outing) %}
                <a href="{{ path('outing_create', {'id':outing.id}) }}"
                   onclick="return confirm('Publier cette sortie ?')">
                    <button>Publier</button>
                </a>
                <a href="{{ path('outing_modify', {'id':outing.id}) }}">
                    <button>Modifier</button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="gen-div-format">
        <h2>Liste des participants à la sortie {{ outing.name }}</h2>
            <table class="participants-table">
                <tr>
                    <th class="participants-table-headers">Pseudo</th>
                    <th class="participants-table-headers">Prénom</th>
                    <th class="participants-table-headers">Nom</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_profile', {'id': user.id}) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
{% endblock %}
