{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails
{% endblock %}

{% block body %}
    <div class="gen-div-format" id="outing-details">
        <h1>Détails d'une sortie</h1>
        <h2>{{ outing.name }}</h2>
        <div>Organisateur : <a
                href="{{ path('user_profile', {'id': outing.organiser.id}) }}">{{ outing.organiser.username }}</a></div>
        <div><img src="{{ asset('images/Outings/' ~ outing.photo) }}"></div>
        <div>Date et heure : {{ outing.startDateTime | date('d/m/Y H:i') }}</div>
        <div>Date limite d'inscription : {{ outing.signupDateLimit | date('d/m/Y H:i') }}</div>
        <div>Nombre de places : {{ outing.nbSignupsMax }}</div>
        <div>Durée : {{ outing.duration }}</div>
        <div>Description et infos : {{ outing.outingInfo }}</div>
        <div>Campus : {{ outing.campus }}</div>
        <div>Lieu : {{ outing.location }}</div>
        {% if outing.status.label != "Annulée" %}
            <div>Statut : {{ outing.status }}</div>
        {% endif %}

        {% include 'views/buttons/action.html.twig' %}
    </div>
    <div class="gen-div-format">
        <h2>Liste des participants à la sortie {{ outing.name }}</h2>
            <table class="participants-table">
                <tr>
                    <th class="participants-table-headers">Pseudo</th>
                    <th class="participants-table-headers">Prénom</th>
                    <th class="participants-table-headers">Nom</th>
                </tr>
                {% for participant in outing.participants %}
                <tr>
                    <td>
                        <a href="{{ path('user_profile', {'id': participant.id}) }}">
                            {{ participant.username }}
                        </a>
                    </td>
                    <td>{{ participant.firstname }}</td>
                    <td>{{ participant.lastname }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
{% endblock %}
