{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails
{% endblock %}

{% block body %}
    <div class="gen-div-format" id="outing-details">
        <h1>Détails</h1>
        <div class="details">
            <h2>{{ outing.name }}</h2>
            <div class="details-flex">
                <div class="flex1">
                    <div><img src="{{ asset('images/Outings/' ~ outing.photo) }}" class="details-photo"></div>
                </div>
                <div class="flex2">
                    <div><strong>Organisateur :</strong> <a
                            href="{{ path('user_profile', {'id': outing.organiser.id}) }}">{{ outing.organiser.username }}</a></div>
                    <div><strong>Date et heure :</strong> {{ outing.startDateTime | date('d/m/Y H:i') }}</div>
                    <div><strong>Date limite d'inscription :</strong> {{ outing.signupDateLimit | date('d/m/Y H:i') }}</div>
                    <div><strong>Nombre de places </strong>> {{ outing.nbSignupsMax }}</div>
                    <div><strong>Durée </strong>> {{ outing.duration }}</div>
                    <div><strong>Description et infos :</strong> {{ outing.outingInfo }}</div>
                    <div><strong>Campus :</strong> {{ outing.campus }}</div>
                    <div><strong>Lieu :</strong> {{ outing.location }}</div>
                    {% if outing.status.label != "Annulée" %}
                        <div>Statut : {{ outing.status }}</div>
                    {% endif %}
                    {% include 'views/buttons/action.html.twig' %}
                </div>
            </div>
        </div>


    </div>
    <div class="gen-div-format">
        <h2>Liste des participants à la sortie {{ outing.name }}</h2>
            <table class="participants-table">
                <tr>
                    <th class="participants-table-headers">Pseudo</th>
                    <th class="participants-table-headers">Prénom</th>
                    <th class="participants-table-headers">Nom</th>
                </tr>
                {% for participant in outing.participants %}
                <tr>
                    <td>
                        <a href="{{ path('user_profile', {'id': participant.id}) }}">
                            {{ participant.username }}
                        </a>
                    </td>
                    <td>{{ participant.firstname }}</td>
                    <td>{{ participant.lastname }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
{% endblock %}
