{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Sorties
{% endblock %}

{% block body %}
    <div class="general-infos">
        <p><strong>Date du jour : {{ "now" | date('d/m/Y') }}</strong></p>
        {% if app.user %}
            <p><strong>Participant : {{ app.user.username }}</strong></p>
        {% endif %}
    </div>

    <div class="outing-search">
        {{ form_start(outingSearchForm) }}
        <div class="outing-search-criteria">
            {{ form_row(outingSearchForm.campus) }}
            {{ form_row(outingSearchForm.name) }}
            {{ form_row(outingSearchForm.startSearchDate) }}
            {{ form_row(outingSearchForm.endSearchDate) }}
        </div>
        <div class="outing-search-checkbox">
{#            {{ form_row(outingSearchForm.outingFilters) }}#}
            {{ form_row(outingSearchForm.outingOrganiser) }}
            {{ form_row(outingSearchForm.outingParticipant) }}
            {{ form_row(outingSearchForm.outingNotParticipant) }}
            {{ form_row(outingSearchForm.outingPassed) }}
        </div>
        <div class="search-btn-div">
            <button class="outing-search-btn">Recherche</button>
        </div>
        {{ form_end(outingSearchForm) }}
    </div>

    <h1>Sorties</h1>
    {% for outing in outings %}
        <article class="outingInList">

            <div class="outing-img">
                <img src="{{ asset('images/Outings/' ~ outing.photo) }}" alt="{{ outing.name }}">
            </div>

            <div class="outing-infos">

                <div>
                    <h4>{{ outing.name }}</h4>
                    <small>Organisée par <a href="{{ path('user_profile', {'id': outing.organiser.id}) }}">{{ outing.organiser.username }}</a></small>
                </div>

                <div class="outing-date">
                        <span><strong>Date de la sortie :</strong> {{ outing.startDateTime | date('d/m/Y') }}</span><span> | </span>
                        <span><strong>Date limite inscription :</strong> {{ outing.signupDateLimit | date('d/m/Y') }}</span>
                </div>

                <div>
                    <p><strong>Inscrits :</strong> {{ outing.participants | length }}/{{ outing.nbSignupsMax }}
                {% if outing.participants.contains(app.user) and outing.organiser != app.user %}
                    <span class="goodNews">Vous êtes inscrit à cette sortie !</span>
                {% endif %}
                    </p>
                </div>
                <div class="widgets-space">

                    <div>
                        <a href="{{ path('outing_details', {'id' : outing.id}) }}"><button>Afficher les détails</button></a>
                    </div>

                    <div class="outing-status">
                        {% if outing.status.label == "Annulée" %}
                            <div class="status-cancelled">Sortie annulée :(</div>
                        {% endif %}
                        {% if outing.status.label == "Clôturée" or outing.participants.count == outing.nbSignupsMax %}
                            <div class="status-toolate">Inscriptions clôturées</div>
                        {% endif %}
                        {% if outing.status.label == "Terminée" %}
                            <div class="status-done">Cette sortie a eu lieu !</div>
                        {% endif %}
                        {% if outing.status.label == "En cours" %}
                            <div class="status-done">Se déroule aujourd'hui !</div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </article>
    {% endfor %}

{% endblock %}

