{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mes sorties
{% endblock %}

{% block body %}
    <div class="gen-div-format" id="private-h1">
        <h1>Mes sorties</h1>
    </div>

{% for outing in outings %}
<article class="outingInList">

    <div class="outing-img">
        <img src="{{ asset('images/Outings/' ~ outing.photo) }}" alt="{{ outing.name }}">
    </div>

    <div class="outing-infos">

        <div>
            <h4>{{ outing.name }}</h4>
            <small>Organisée par {{ outing.organiser.username }}</small>
        </div>

        <div class="outing-date">
            <span><strong>Date de la sortie :</strong> {{ outing.startDateTime | date('d/m/Y') }}</span><span> | </span>
            <span><strong>Date limite inscription :</strong> {{ outing.signupDateLimit | date('d/m/Y') }}</span>
        </div>

        {% include 'views/buttons/action.html.twig' %}

    </div>
</article>
    {% endfor %}

    {% endblock %}
