<nav>
    <ul>
        <div class="navContainer">
            {% if app.user %}
                <li><a href="{{ path('outing_list') }}">Accueil</a></li>
                <li><a href="{{ path('outing_create') }}">Création sortie</a></li>
                <li><a href="{{ path('user_profile', {'id': app.user.id }) }}">Mon profil</a></li>
                <li><a href="{{ path('outing_privateList', {'id': app.user.id}) }}">Mes sorties</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                {% endif %}
                <li><a id="logout-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
{#                <li><a href="{{ path('app_login') }}">Connexion</a></li>#}
            {% endif %}
        </div>
    </ul>
</nav>
