{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Utilisateurs
{% endblock %}

{% block body %}
<div class="gen-div-format">
    <h1>Gestion d'utilisateurs</h1>
    <button>Inscrire utilisateur</button>
</div>
<div class="gen-div-format">
    Liste d'utilisateurs
    {% for user in users %}
        <div class="participants-details">
            <div>Prénom : {{ user.firstname }}</div>
            <div>Nom : {{ user.lastname }}</div>
            <a href="{{ path('user_profile', {'id': user.id}) }}">
                <div>Pseudo : {{ user.username }}</div>
            </a>
            <div>Mail : {{ user.email }}</div>
            <div>Phone : {{ user.phone }}</div>
            {% if user.active === false %}
            <div>Statut : Actif <button>Désactiver</button></div>
            {% else %}
                <div>Statut : Inactif <button>Activer</button></div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}



