{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Utilisateurs
{% endblock %}

{% block body %}
    <div class="gen-div-format" id="users-title-div">
        <h1>Gestion d'utilisateurs</h1>
        <a href="{{ path('admin_register') }}"><button id="user-register-trigger">Inscrire utilisateur(s)</button></a>
    </div>
    <div class="gen-div-format" id="users-table-div">
        <table class="users-table">
            <tr>
                <th class="users-table-headers">Pseudo</th>
                <th class="users-table-headers">Prénom</th>
                <th class="users-table-headers">Nom</th>
                <th class="users-table-headers">Mail</th>
                <th class="users-table-headers">Phone</th>
                <th class="users-table-headers">Campus</th>
                <th class="users-table-headers">Role(s)</th>
                <th class="users-table-headers">Statut</th>
                <th class="users-table-headers">Action(s)</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_profile', {'id': user.id}) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td id="td-user-phone">{{ user.phone }}</td>
                    <td>{{ user.campus.name }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    {% if user.active === false %}
                        <td>Inactif </td>
                        <td>
                            <a href="{{ path('admin_users_active', {'id' : user.id}) }}">
                                <button class="user-list-btn" id="activate-btn">Activer</button>
                            </a>
                    {% else %}
                        <td>Actif </td>
                        <td>
                            <a href="{{ path('admin_users_active', {'id' : user.id}) }}">
                                <button class="user-list-btn" id="deactivate-btn">Désactiver</button>
                            </a>

                    {% endif %}
                    <a href="{{ path('admin_users_delete', {'id' : user.id}) }}">
                        <button class="user-list-btn" id="user-delete-btn" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est irreversible.')">
                            Supprimer
                        </button>
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
