<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ENIwhere{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<div class="container">
    <body>
    <div class="gen-div-format" id="main-div">
        <header>
            <div class="header-div">
                <a class="header-home-link" href="{{ path('outing_list') }}">
                    <img class="eniwhere-logo" src="{{ asset('images/base/eniwhere-planet.png') }}" alt="eniwhere-logo">
                </a>

                <div id="nav-div">
                    {% include 'views/nav/nav.html.twig' %}
                </div>
            </div>
        </header>
        <div class="general-infos">
            <p><strong>Date du jour : {{ "now" | date('d/m/Y') }}</strong></p>
            {% if app.user %}
                <p><strong>Participant : {{ app.user.username }}</strong></p>
            {% endif %}
        </div>
    </div>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}

        {% endblock %}
    </main>
    </body>
</div>
</html>
