{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profil
{% endblock %}

{% block body %}
<div class="gen-div-format">
    <div><img src="{{ asset('images/PFP/' ~ user.photo) }}" alt="{{ user.username }}" class="profilePic"></div>
    <h1>{{ user.username }}</h1>
    <div>
        <div>Prénom : {{ user.firstname }}</div>
        <div>Nom :  {{ user.lastname }}</div>
        <div>Téléphone : {{ user.phone }}</div>
        <div>Email : {{ user.email }}</div>
        <div>Campus : {{ user.campus.name }}</div>
    </div>
    <div>
        <a href="{{ app.request.headers.get('referer') ?? path('outing_list') }}">Retour</a>
        <a href="{{ path('user_update', {'id' : user.id }) }}">Modifier</a>
    </div>
</div>
{% endblock %}



