{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profil
{% endblock %}

{% block body %}
<div class="gen-div-format">
    <div class="profile">
        <div><img src="{{ asset('images/PFP/' ~ user.photo) }}" alt="{{ user.username }}" class="profilePic"></div>
        <div><h1>{{ user.username }}</h1></div>
        <div>
            <div><strong>Prénom :</strong> {{ user.firstname }}</div>
            <div><strong>Nom :</strong>  {{ user.lastname }}</div>
            <div><strong>Téléphone :</strong> {{ user.phone }}</div>
            <div><strong>Email :</strong> {{ user.email }}</div>
            <div><strong>Campus :</strong> {{ user.campus.name }}</div>
        </div>
        <div>
            <a href="{{ app.request.headers.get('referer') ?? path('outing_list') }}"><button class="outing-list-action" id="outing-cancel">Retour</button></a>
            <a href="{{ path('user_update', {'id' : user.id }) }}"><button class="outing-list-action" id="outing-mod">Modifier</button></a>
        </div>
    </div>
</div>
{% endblock %}



